
#TabsToolbar { visibility: collapse; will-change: auto !important; }

@media not (-moz-bool-pref: "uc.tweak.no-window-controls") {
    
    .titlebar-buttonbox-container {
        height: 40px !important;
    }
    :root[uidensity=compact] .titlebar-buttonbox-container { 
        height: 34px !important; 
    }
    :root[uidensity=touch] .titlebar-buttonbox-container {
        height: 44px !important;
    }

    @media (-moz-platform: macos ) {
        .titlebar-buttonbox-container {
            visibility: visible !important;
            z-index: 100 !important;
            position: absolute !important;
        }
        #nav-bar {
            margin-left: 68px !important;
        }
    }

    @media (-moz-platform: linux) {
        #toolbar-menubar > .titlebar-buttonbox-container {
            visibility: collapse !important;
        }
        :root {
           @media (-moz-gtk-csd-minimize-button) or (-moz-gtk-csd-maximize-button) or (-moz-gtk-csd-close-button) {
               --gtk-window-button-width: 36px;
            }
           @media ((-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button)) or 
               ((-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button)) or
               ((-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button)) {
                   -gtk-window-button-width: 66px;
            }

            @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
                --gtk-window-button-width: 96px;
            }
            
        }
        
        .titlebar-buttonbox-container {
            position: absolute;
            visibility: visible !important;
            z-index: 100 !important;
        }
        @media not (-moz-gtk-csd-reversed-placement) {
            #nav-bar { margin-right: var(--gtk-window-button-width) !important; }
            .titlebar-buttonbox-container { right: 0; }
        }
        @media (-moz-gtk-csd-reversed-placement) {
            #nav-bar { margin-left: var(--gtk-window-button-width) !important; }
            .titlebar-buttonbox-container { left: 0; }
        }
    }   
    
    

}
