@import url("vars.css");
@import url("content/sidebery.css");

/* pdf viewer */
[mozdisallowselectionprint] > body {
    & #mainContainer {
        & .toolbar {
            padding: 4px !important;
            padding-bottom: none !important;
            & #toolbarContainer {
                border-radius: var(--user-radius) !important;
                box-shadow: none !important;
            }
        }
    }
}
